.DS_Store
node_modules/
dist/
build/
.vscode/
.env
*.log
.idea/
*.iml
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnp.*
.pnp.json
.cache/
.next/
out/
.nuxt/
logs/
*.tsbuildinfo